.c-pointer {
  cursor: pointer;
}

.p-td-4 {
  .table th,
  .table td {
    padding: 0.25rem !important;
  }
}

.pagination {
  ul {
    padding: 0;
    display: block;
    list-style-type: none;

    li {
      cursor: pointer;
      margin-bottom: 10px;
      display: inline-block;

      .page {
        height: 40px;
        display: block;
        font-weight: bold;
        padding: 9px 12px;
        background: #f8f9fa;
        transition: 0.3s all;

        &:hover {
          background: #efefef;
        }

        &.active {
          color: #000;
          background: $primary;
        }
      }

      select {
        border: 0;
        height: 40px;
        outline: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 0;
        margin-right: 10px;
        font-weight: bold;
        background: #f8f9fa;
      }
    }
  }
}

.checkbox-wrapper {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  transition: ease-in 0.05s;
  -webkit-user-select: none;
  user-select: none;

  &.disabled {
    cursor: default;
    .checkmark {
      background-color: #9cb1ac !important;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 10%;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: transparent;
    transition: ease-in 0.05s;
    border: 1px solid #000;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 36%;
      bottom: 3px;
      width: 4px;
      height: 9px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(39deg);
    }
  }

  input:checked ~ .checkmark {
    border: none;
    background-color: #65dec1;

    &:after {
      display: block;
    }
  }
}

.arrow-component {
  display: flex;
  align-items: flex-end;

  svg {
    margin-bottom: 10px;
    margin: 10px 5px;
  }
}

.image-wrapper {
  width: 165px;
  height: 220px;
  position: relative;
  border: 1px solid #6c757d;
  overflow: hidden;

  &.wrapper-rounded {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $primary;

    span {
      width: 100%;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
      color: #000 !important;
    }
  }

  span.img-holder {
    position: absolute;
    color: #6c757d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    // object-fit: cover;
  }
}

.upload-input {
  // padding: 0.375rem 0.75rem;
  // background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  &.is-rounded {
    flex-direction: column-reverse;
    justify-content: center;
    width: 120px;
    max-width: 100%;
    height: 120px;
    border-radius: 50%;

    span.text {
      font-size: 13px;
      font-weight: bold;
      margin-top: 5px;
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    // object-fit: cover;
  }
}

.custom-search-input {
  position: relative;

  span {
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: #fff;
    padding: 0px 5px;
  }
}

// react-bootstrap accordion

.accordion {
  button {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.8rem;
  }
}

// ios checkbox switch

input[type="checkbox"].ios8-switch {
  cursor: pointer;
  position: absolute;
  margin: 8px 0 0 16px;
}
input[type="checkbox"].ios8-switch + label {
  cursor: pointer;
  position: relative;
  padding: 5px 0 0 50px;
  line-height: 2em;
}
input[type="checkbox"].ios8-switch + label:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 40px; /* x*5 */
  height: 24px; /* x*3 */
  border-radius: 16px; /* x*2 */
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 24px; /* x*3 */
  height: 24px; /* x*3 */
  border-radius: 16px; /* x*2 */
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
  margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
  background: #55d069;
}

input[type="checkbox"].ios8-switch-lg {
  margin: 10px 0 0 20px;
}
input[type="checkbox"].ios8-switch-lg + label {
  position: relative;
  padding: 7px 0 0 60px;
  line-height: 2.3em;
}
input[type="checkbox"].ios8-switch-lg + label:before {
  width: 50px; /* x*5 */
  height: 30px; /* x*3 */
  border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:after {
  width: 30px; /* x*3 */
  height: 30px; /* x*3 */
  border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:hover:after {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
input[type="checkbox"].ios8-switch-lg:checked + label:after {
  margin-left: 20px; /* x*2 */
}

// custom collapse

.custom-collapse {
  button {
    text-align: left;
  }
  .card-footer {
    text-align: end;
  }
}
