@font-face {
  font-family: 'r';
  src: url('../../../app/fonts/Mulish-Regular.ttf');
}

@font-face {
  font-family: 'm';
  src: url('../../../app/fonts/Mulish-Medium.ttf');
}

@font-face {
  font-family: 'b';
  src: url('../../../app/fonts/Mulish-Bold.ttf');
}

body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  font-family: 'r';
}
